.toast_success {
  top: 10%;
  background-color: rgb(90, 206, 90);
  position: absolute;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
i {
  margin: 0.4em 0.6em 0 0;
  padding: 0;
}
